* {
    background-color: rgb(255, 231, 184);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
}

.home-header {
    background-color: aliceblue;
}

.link {
    text-decoration: none;
}

#sobre-mim {
    text-align: center;
}

footer {
    text-align: center;
}